<!-- Delete Modal HTML -->
<div class="modal fade" id="deleteUniversityModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form asp-controller="University" asp-action="Delete" data-action="@Url.Action("Delete", "University")" id="deleteUniversityModalForm" method="post">
				<div class="modal-header">
					<h4 class="modal-title">Հեռացնել համալսարանը</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Դուք համոզվա՞ծ եք, որ ցանկանում եք հեռացնել տվյալ համալսարանը։</p>
					<p class="text-warning"><small>Այն վերականգնել հնարավոր չէ։</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Չեղարկել">
					<input type="submit" class="btn btn-danger" value="Ջնջել">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- End Delete Modal-->