@model IEnumerable<University>

<div class="pagetitle">
	<h1>Համալսարաններ</h1>
	<nav class="mt-1">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Վահանակ</a></li>
			<li class="breadcrumb-item active">Համալսարաններ</li>
		</ol>
	</nav>
</div><!-- End Page Title -->

<section class="section university-table">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="row add-item-btn">
					<div>
						<a asp-action="Create" class="btn btn-success d-flex"><i class="material-icons mr-1">&#xE147;</i> <span>Ստեղծել նոր համալսարան</span></a>
					</div>
				</div>
				<div class="card-body">
					<!-- Table with stripped rows -->
					<table class="table-striped border-lightgray-solid table datatable">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Անուն</th>
								<th scope="col">Վիճակ</th>
								<th data-sortable="false" scope="col">Գործողություններ</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var university in Model)
							{

								<tr>
									<th scope="row">@university.Id</th>
									<td>@university.Name</td>
									<td class="text-white"><span class="badge bg-@(university.IsActive ? "success" : "danger")">@(university.IsActive ? "Ակտիվ է" : "Ակտիվ չէ")</span></td>
									<td>
										<a asp-controller="University" asp-action="Edit" asp-route-id=@university.Id class="edit text-primary"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
										<button data-id="@university.Id" class="empty-btn text-danger deleteUniversityModalBtn" data-bs-toggle="modal" data-bs-target="#deleteUniversityModal">
											<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
										</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
					<!-- End Table with stripped rows -->
				</div>
			</div>
		</div>
	</div>
</section>

<partial name="_DeleteModal" />

@section scripts {
	<script src="~/js/Areas/Admin/universities/delete.js"></script>
}