@*@using GaussIntellectualClub.Common.Models

@model UserLoginModel
*@
<!--<form method="post">-->
@*	@Html.AntiForgeryToken()
*@	<!--<div class="form-group mt-3">
		<input type="email" name="email" id="LoginEmail" class="form-style form-input"  placeholder = "Էլ․ փոստ" value="" />-->
@*		<span class="text-danger">@Html.ValidationMessageFor(m => m.Email)</span>
*@		<!--<i class="input-icon fa fa-envelope-o"></i>
	</div>
	<div class="form-group mt-3">
		<input type="password" name="password" id="LoginPassword" class="form-style form-input" placeholder="Գաղտնաբառ" value="" />-->
@*		<span class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
*@		<!--<span class="text-danger">-->
@*			@(ViewBag.LoginErrorMessage != null ? ViewBag.LoginErrorMessage : "")
*@		<!--</span>
		<i class="input-icon fa fa-key"></i>
	</div>
	<input type="submit" class="btn mt-4" value="Հաստատել" />
</form>-->

@model LoginModel
<form id="account" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
	<div class="form-group form-floating mt-3">
		<input asp-for="Input.Email" id="LoginEmail" class="form-style form-inputform-input-clearable" autocomplete="username" aria-required="true" placeholder="Էլ․ փոստ" />
		<span asp-validation-for="Input.Email" class="text-danger"></span>
		<i class="input-icon fa fa-envelope-o"></i>
	</div>
	<div class="form-group form-floating mt-3">
		<input asp-for="Input.Password" class="form-style form-inputform-input-clearable" autocomplete="current-password" aria-required="true" placeholder="Գաղտնաբառ" />
		<span asp-validation-for="Input.Password" class="text-danger"></span>
		<i class="input-icon fa fa-key"></i>
	</div>
	<div>
		<p class="mt-2">
			<a id="forgot-password" asp-page="./ForgotPassword">Մոռացե՞լ եք գաղտնաբառը</a>
		</p>
	</div>
	<input type="submit" class="btn mt-4" value="Հաստատել" />
</form>