@*
	@model LoginModel

	<div class="row">
		<div class="col-md-4">
			<section>
				<form id="account" method="post">
					<h2>Use a local account to log in.</h2>
					<hr />
					<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
					<div class="form-floating mb-3">
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
						<label asp-for="Input.Email" class="form-label">Email</label>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
						<label asp-for="Input.Password" class="form-label">Password</label>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="checkbox mb-3">
						<label asp-for="Input.RememberMe" class="form-label">
							<input class="form-check-input" asp-for="Input.RememberMe" />
							@Html.DisplayNameFor(m => m.Input.RememberMe)
						</label>
					</div>
					<div>
						<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
					</div>
					<div>
						<p>
							<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
						</p>
						<p>
							<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
						</p>
					</div>
				</form>
			</section>
		</div>

	</div>

*@

@page


@model LoginModel

@{
	ViewData["Title"] = "Մուտք";
}

@section styles{
	<link href="~/css/login-register/index.css" rel="stylesheet" />
}
<div class="section">
	<div class="container">
		<div class="row full-height justify-content-center">
			<div class="col-12 text-center align-self-center py-5">
				<div class="section pb-5 pt-5 pt-sm-2 text-center">
					<h6 class="mb-0 pb-3"><span>Մուտք</span><span>Գրանցում</span></h6>
					<input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
					<label for="reg-log" id="reg-log-label"></label>
					<div class="card-3d-wrap mx-auto">
						<div class="card-3d-wrapper">
							<div class="card-front">
								<div class="center-wrap">
									<div class="section text-center">
										<h4 class="mb-4 pb-3 text-white">Մուտք</h4>
										@await Html.PartialAsync("_LoginForm", new LoginModel(ViewData["SignInManager"] as SignInManager<IdentityUser>, ViewData["RoleManager"] as RoleManager<IdentityRole>, ViewData["Logger"] as ILogger<LoginModel>))
									</div>
								</div>
							</div>
							<div class="card-back">
								<div class="center-wrap">
									<div class="section text-center">
										<h4 class="mb-4 pb-3 text-white">Գրանցում</h4>
										@await Html.PartialAsync("_RegisterForm", new RegisterModel(ViewData["UserManager"] as UserManager<IdentityUser>, ViewData["RoleManager"] as RoleManager<IdentityRole>, ViewData["UserStore"] as IUserStore<IdentityUser>, ViewData["SignInManager"] as SignInManager<IdentityUser>, ViewData["Logger"] as ILogger<RegisterModel>, ViewData["EmailSender"] as IEmailSender))
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/login-register/index.js"></script>
}